<!DOCTYPE>
{% load static %}
<html>
	<head>
		<link rel="stylesheet" href="{% static 'css/main_css.css' %}">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
		<meta charset="utf-8">
		<title>Личный кабинет</title>
	</head>
	<header>
		<a href="../" class="link_main">На главную</a>
		<a href="../order_page.html" class="link_order">Оформить заказ</a>
		<a href="../personal_area.html" class="link_pers_area"><img src="{% static 'images/img_pers_area.jpg' %}" class="link_pers_area"></a>
	</header>
	<body>

		<h3 class="nickname_user">{{name_user.user_id_user.login}} </h3>
		<form  method="post" name="swap_acc">
			{% csrf_token %}
			<input type="submit" class="swap_acc" name="" value="Сменить аккаунт">
		</form>>
		<p class="your_order">Ваши заказы</p>
		<table class="table_order">
			<tr>
			<th>
				Номер склада
				
			</th>
			
			<th>
				Дата начала аренды
				
			</th>
			
			<th>
				Дата конца аренды
				
			</th>
			
			<th>
				Сумма в рублях
				
			</th>
			</tr>
			{% for order in data_table %}
				<tr>
					<td>
						{{order.building_idbuilding.warehouse_number}}
					</td>

					<td>
						{{order.LeaseStartDate}}
					</td>

					<td>
						{{order.LeaseEndDate}}
					</td>

					<td>
						{{order.OrderSum}}
					</td>
				</tr>
		{% endfor %}
		</table>
	</body>	
</html>

